open command prompt


Input these commands(one by one)
(You may have to type 'y' and hit enter to uninstall a package)


>pip uninstall opencv-python
>pip install opencv-python==4.7.0.68


>pip uninstall scikit-learn
>pip install scikit-learn==1.2.0

>pip uninstall mediapipe
>pip install mediapipe==0.9.0.1


>pip install requests

